* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	list-style: none;
	text-decoration: none;
}
:root {
	--font-color-grid-h: #fff;
	--font-color-main: #127380;/*Для изменения цвета в хэдэре и основном*/
	--back-color-btn: #20BDFF;
	--f-c-sidebar: #000; /*Цвет шрифта для ссылок сайдбаров*/

	--font-color-footer: #fff;/*В основном для изменения цвета футера*/
	--f-c-footer-a: #fff;/*Цвет шрифта для ссылок в футере.*/

}
body {
	max-width: 100%;
	font-family: 'Montserrat', sans-serif;

}
.site-header__wrapper {
	height: 120px;
	background: linear-gradient(180deg, #72D6EC 43.43%, #72ECD6 87.88%);
	display: flex;
	align-items: center;
	justify-content: space-between;
}
.anti-logo {
	color: var(--font-color-footer);
	text-align: center;
	line-height: 25px;
	margin-left: 110px;
}
/*Здесь нужно добавить декоративный элемент для заполнения пространства, чтобы не было пустоты!*/


.btn-in {
	width: 100px;
	height: 40px;
	border-radius: 7px;
	border: none;
	margin-left: auto;
	background: #EDF8FF;
	color: var(--font-color-main);
}
.btn-reg {
	width: 150px;
	height: 40px;
	border-radius: 7px;
	border: none;
	margin-right: 25px;
	margin-left: 20px;
	background: #B6FDE3;
	color: var(--font-color-main);
}


.page-wrapper {
  display: flex;
	margin: 50px 10px;
	gap: 1rem; /*Через это свойство можно добавить расстояние между flex-элементами. Кстати, flex-wrap не обязательно писать.*/
}
/*Поменял основной контент и сайдбары для удобства.*/
.content {
  flex: 3;
	/*border: solid blue 2px; /*Бордер, чтобы было видно границы основного контента.*/
	padding: 0 20px;
	height: auto;
}
.grid-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(2, auto);
	justify-content: center;
  gap: 3rem;
	margin-top: 40px;
}

.grid-item {
	width: 400px;
	height: 400px;
  background-color: #fff;
  padding: 20px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

img {
	width: 100%;
  height: 200px;
  
}
.main-top-text {
	text-align: start;
}
.main-top-text, h2 {
  font-size: 24px;
  margin-top: 10px;
  margin-bottom: 5px;
}
.main-top-text, p {
  font-size: 16px;
  margin-top: 0;
}
.btn-grid-ref {
	background: var(--back-color-btn);
	border-radius: 5px;
}


.left-sidebar {
  flex: 1;
	height: 90vh; /*Остальные элементы wrapper приняли номинально такую же высоту. Но я задал им свои парметры.*/
	border: solid #73D6EC 2px;
	color: var(--font-color-main);
	/*Добавить липкость*/
	position: -webkit-sticky;
	position: sticky;
	top: 0;
}
.background-left {
	width: 100%;
	height: 40px;
	background: #73ECD6;
	opacity: 0.6;
	text-align: center;
	padding-top: 10px;
}
.themes {
	margin-top: 1em;
	text-align: left;
	line-height: 3em;
	
}
.themes a {
	font-size: 1em;
	color: var(--f-c-sidebar);
	margin-left: 40px;
	background: linear-gradient(to right, transparent, transparent), linear-gradient(to right, #5433FF, #20BDFF, #A5FECB);
	background-size: 100% 1px, 0 1px;
	background-position: 100% 0, 0 100%;
	background-repeat: no-repeat;
	transition: background-size 400ms;
}
.themes a:hover {
	background-size: 0 1px, 100% 1px;
}

.right-sidebar {
  flex: 1;
	border: solid #73D6EC 2px;
	color: var(--font-color-main);
	height: 90vh;
	/*Добавить липкость*/
	position: -webkit-sticky;
	position: sticky;
	top: 0;
}
.background-right {
	width: 100%;
	height: 40px;
	background: #73ECD6;
	opacity: 0.6;
	text-align: center;
	padding-top: 10px;
}
.helper {
	margin-top: 1em;
	text-align: center;
	line-height: 3em;
}
.helper a {
	font-size: 1em;
	color: var(--f-c-sidebar);
	margin-left: 20px;
	margin: 40px 10px;
	background: linear-gradient(to right, transparent, transparent), linear-gradient(to right, #5433FF, #20BDFF, #A5FECB);
	background-size: 100% 1px, 0 1px;
	background-position: 100% 0, 0 100%;
	background-repeat: no-repeat;
	transition: background-size 400ms;
}
.helper a:hover {
	background-size: 0 1px, 100% 1px;
}
.socail-media {
	text-align: center;
	
}
.socail-media__ref {
	margin-top: 20px;
	line-height: 40px;
}

.footer {
  display: flex;
  flex-direction: row;
	align-items: center;
	justify-content: space-around;
	height: 120px;
	background:/*linear-gradient(to right,#1fa2ff,#12d8fa,#a6ffcb);*/#72D6EC;
	filter: brightness(0.95);
	margin-top: 50px;
	color: var(--font-color-footer);
}
.footer__a {
	color: var(--f-c-footer-a);
}
.gradient-border {
  border-top: 3px solid transparent;
  border-image: linear-gradient(to right, red,orange,yellow,green,blue,indigo,violet) 1;
}



/*Стилизация скроллбара. Сделать бы его фиксированной высоты.*/
::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  -webkit-box-shadow: 5px 5px 5px -5px rgba(34, 60, 80, 0.2) inset;
  background-color: #f9f9fd;
  border-radius: 10px;
}

::-webkit-scrollbar-thumb {
  border-radius: 10px;
  background: linear-gradient(180deg, #00c6fb, #005bea);
}