* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	list-style: none;
	text-decoration: none;

	/*Для выпадающих*/
	-webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
:root {
	
	--fc-btn-read-more: #fff;
	--font-color-grid-h: #fff;
	--font-color-main: #127380;
	/*Для изменения цвета в хэдэре и основном*/
	--back-color-btn: #20BDFF;

	/*Цвет бэкграунда*/
	--back-sidebar: linear-gradient(180deg, #0A87FA 0%, #01A9EF 100%);
	/*Цвет шрифта для заголовка сайдбара*/
	--head-font-color-sidebar: rgba(255, 255, 255, 1);
	/*Цвет шрифта для ссылок сайдбаров*/
	--font-color-sidebar: rgba(5, 72, 131, 1);
}
body {
	max-width: 100%;
	font-family: 'Montserrat', sans-serif;
}
.site-header__wrapper {
	/*width: 100%;*/
	height: 120px;
	background: linear-gradient(180deg, #0A86FA 0%, #00A9EE 100%);
	display: flex;
	align-items: center;
	justify-content: space-between;
}
.logo {
	flex: 1;
	width: 100px;
	height: auto;
	margin-top: 15px;
	margin-left: 115px;
}
/*Разделы сайта*/
nav ul {
	flex: 3;
	display: flex;
	list-style: none;
	margin-left: 20px;
  margin-right: 20px;
  padding: 0;
}
nav li {
	display: flex;
	align-items: center; 
	justify-content: center;
  margin-right: 20px;
	background: rgba(17, 115, 200, 1);
	border-radius: 3px;
	text-align: center;
	width: 200px;
	height: 50px;
}
nav a {
  color: rgba(255, 255, 255, 1);
  text-decoration: none;
  font-size: 20px;
  font-weight: 700;
}
/*Выпадающее меню*/
.title {
	display: flex;
	align-items: center; 
	text-align: center;
	font-size: 20px;
	padding: 10px;
}
.main {
	display: flex;
	align-items: center; 
	justify-content: center;
	margin: 30px;
	position: relative;
	width: 150px;
	text-align: center;
}
label {
	width: 200px;
	position: absolute;
	line-height: 45px;
	color: #fff;
	background: rgba(5,73,131, 0.4);
	border-radius: 3px;
	font-weight: 700;
	-webkit-transition: 0.04s ease-in-out;
	transition: 0.04s ease-in-out;
}
.list {
	width: 200px;
	position: absolute;
	z-index: 1;
	top: 22px;
	left: -25px;
	border-top: 1px solid #eee;
	visibility: hidden;
	opacity: 0;
	cursor: pointer;
	-webkit-transition: 0.2s ease-in-out;
	transition: 0.2s ease-in-out;
}
.item {
	width: 200px;
	line-height: 45px;
	background-color: #f9f9fd;
	-webkit-transition: 0.2s ease-in-out;
	transition: 0.2s ease-in-out;
	font-weight: 400;
	color: #000;
}
.item:hover {
	background-color: #eee;
}
.list-1 {
	-webkit-transform: translateY(20px);
	transform: translateY(20px);
	z-index: 10;
}
#drop-1:checked~ .list-1 {
	visibility: visible;
	opacity: 2;
	-webkit-transform: translateY(0px);
	transform: translateY(0px);
}
.list-2 {
	-webkit-transform: translateY(20px);
	transform: translateY(20px);
	z-index: 10;
}
#drop-2:checked~ .list-2 {
	visibility: visible;
	opacity: 2;
	-webkit-transform: translateY(0px);
	transform: translateY(0px);
}
.list-3 {
	-webkit-transform: translateY(20px);
	transform: translateY(20px);
	z-index: 10;
}
#drop-3:checked~ .list-3 {
	visibility: visible;
	opacity: 2;
	-webkit-transform: translateY(0px);
	transform: translateY(0px);
}
.list-4 {
	-webkit-transform: translateY(20px);
	transform: translateY(20px);
	z-index: 10;
}
#drop-4:checked~ .list-4 {
	visibility: visible;
	opacity: 2;
	-webkit-transform: translateY(0px);
	transform: translateY(0px);
}
.list-5 {
	-webkit-transform: translateY(20px);
	transform: translateY(20px);
	z-index: 10;
}
#drop-5:checked~ .list-5 {
	visibility: visible;
	opacity: 2;
	-webkit-transform: translateY(0px);
	transform: translateY(0px);
}

/*********************/
/*
.btn-in {
	display: none;
	width: 100px;
	height: 40px;
	border-radius: 7px;
	border: none;
	margin-left: auto;
	background: #EDF8FF;
	color: var(--font-color-main);
}
.btn-reg {
	display: none;
	width: 150px;
	height: 40px;
	border-radius: 7px;
	border: none;
	margin-right: 25px;
	margin-left: 20px;
	background: #B6FDE3;
	color: var(--font-color-main);
}
*/
.page-wrapper {
  display: flex;
	margin: 50px 10px;
	gap: 1rem; /*Через это свойство можно добавить расстояние между flex-элементами. Кстати, flex-wrap не обязательно писать.*/
}
/*Поменял основной контент и сайдбары для удобства.*/
.content {
  flex: 3;
	/*border: solid blue 2px; /*Бордер, чтобы было видно границы основного контента.*/
	padding: 0 20px;
	height: auto;
}
.grid-container {
  display: grid;
  grid-template-columns: repeat(3, 2fr);
  grid-template-rows: repeat(2, auto);
	justify-content: center;
  gap: 2rem;
	margin-top: 40px;
}
.grid-item {
	width: 360px;
	height: 450px;
  background-color: #fff;
  padding: 20px;
  box-shadow: 0 0 10px rgba(34, 180, 242, 0.3);
}
img {
	width: 100%;
  height: 200px;
}
.border-container {
	display: flex;
	align-items: center;
	justify-content: space-between;
}
.border-top-1{
	border-top: 2px solid rgba(34, 180, 242, 1);
	width: calc(33% - 20px); /* 20px - это ширина правой границы */
	margin-top: -20px;
}
.border-top-2 {
	border-top: 2px solid rgba(34, 180, 242, 1);
	width: calc(33% - 20px); /* 20px - это ширина правой границы */
	margin-top: -20px;
}
.main-top-text {
	color: rgba(5, 73, 131, 1);
	font-size: 36px;
	font-weight: 700;
	text-align: center;
	margin-top: -20px;
}
.btn-grid-ref {
	background: var(--back-color-btn);
	border-radius: 5px;
}
/*Стилизация параграфов*/
p {
	font-size: 17px;
}
/*Кнопка «Читать»*/
.frame {
  width: 90%;
  margin: 0px auto;
  text-align: center;
}
button {
  margin: 20px;
}
.custom-btn {
  width: 130px;
  height: 40px;
  color: #fff;
  border-radius: 5px;
  padding: 10px 25px;
	font-size: 17px;
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
  background: transparent;
  cursor: pointer;
  transition: all 0.3s ease;
  position: relative;
  display: inline-block;
  box-shadow:inset 2px 2px 2px 0px rgba(255,255,255,.5),
  7px 7px 20px 0px rgba(0,0,0,.1),
  4px 4px 5px 0px rgba(0,0,0,.1);
  outline: none;
}
.btn-3 {
  background: rgb(0,172,238);
	background: linear-gradient(0deg, rgba(0,172,238,1) 0%, rgba(2,126,251,1) 100%);
  width: 130px;
  height: 40px;
  line-height: 42px;
  padding: 0;
  border: none;
}
.btn-3 a {
  position: relative;
  display: block;
  width: 100%;
  height: 100%;
}
.btn-3:before,
.btn-3:after {
  position: absolute;
  content: "";
  right: 0;
  top: 0;
  background:rgba(2,126,251,1);
  transition: all 0.3s ease;
}
.btn-3:before {
  height: 0%;
  width: 2px;
}
.btn-3:after {
  width: 0%;
  height: 2px;
}
.btn-3:hover{
	background: transparent;
  box-shadow: none;
}
.btn-3:hover:before {
  height: 100%;
}
.btn-3:hover:after {
  width: 100%;
}
.btn-3 a:hover{
  color: rgba(2,126,251,1);
}
.btn-3 a:before,
.btn-3 a:after {
  position: absolute;
  content: "";
  left: 0;
  bottom: 0;
  background: rgba(2,126,251,1);
  transition: all 0.3s ease;
}
.btn-3 a:before {
  width: 2px;
  height: 0%;
}
.btn-3 a:after {
  width: 0%;
  height: 2px;
}
.btn-3 a:hover:before {
  height: 100%;
}
.btn-3 a:hover:after {
  width: 100%;
}
.btn-read-more {
	color: var(--fc-btn-read-more);
}
/*Сайдбар*/
.left-sidebar {
  flex: 1;
	height: 90vh; /*Остальные элементы wrapper приняли номинально такую же высоту. Но я задал им свои параметры.*/
	border: 2px solid rgba(2, 169, 240, 1);
	/*border-width: thin;*/
	color: var(--font-color-sidebar);
	/*Добавить липкость*/
	position: -webkit-sticky;
	position: sticky;
	top: 0;
}
.background-left {
	display: flex;
	align-items: center;
	justify-content: center;
	width: 100%;
	height: 40px;
	background: var(--back-sidebar);
	color: var(--head-font-color-sidebar);
	font-size: 18px;
	font-weight: 700;
	text-align: center;
	padding: 15px 20px;
}
.themes {
	margin-top: 1em;
	margin-left: 2em;
	margin-bottom: 1em;
	text-align: left;
	line-height: 2em;
	color: var(--f-c-sidebar);
	font-size: 16px;
	font-weight: 500;
	height: 45vh;
	overflow: auto;
}
.fa-brands {
	font-size: 60px; /* изменение размера иконки */
	/*color:  /* изменение цвета иконки */
	margin: 30px 20px;
}
.social-media__ref {
	margin-top: 20px;
	text-align: center;
	/*line-height: 40px;*/
	font-size: 16px;
	font-weight: 700;
	line-height: 20px;
	text-align: center;
}
/*Порядок: непосещенная, посещенная, наведение, активная. Если изменить один селекторов для коррекции специфичности, это приведет к сбою и неожиданным результатам.*/
.themes>ul>li>a:link {
	color: var(--font-color-sidebar);
	/*text-decoration: none; — не пишем, так как это свойство прописано в дефолте*/
}
.themes>ul>li>a:visited {
	color: var(--font-color-sidebar);
}
.themes>ul>li>a:hover {
	color: var(--font-color-sidebar);
}
.themes>ul>li>a:active {
	color: var(--font-color-sidebar);
}
/*Порядок: непосещенная, посещенная, наведение, активная. Если изменить один селекторов для коррекции специфичности, это приведет к сбою и неожиданным результатам.*/
.social-media__ref>ul>li>a:link {
	color: var(--font-color-sidebar);
	/*text-decoration: none; — не пишем, так как это свойство прописано в дефолте*/
}
.social-media__ref>ul>li>a:visited {
	color: var(--font-color-sidebar);
}
.social-media__ref>ul>li>a:hover {
	color: var(--font-color-sidebar);
}
.social-media__ref>ul>li>a:active {
	color: var(--font-color-sidebar);
}

/*Стилизация скроллбара. Сделать бы его фиксированной высоты.*/
::-webkit-scrollbar {
  width: 10px;
}
::-webkit-scrollbar-track {
  -webkit-box-shadow: 5px 5px 5px -5px rgba(34, 60, 80, 0.2) inset;
  background-color: #f9f9fd;
	opacity: 0.5;
  border-radius: 10px;
}
::-webkit-scrollbar-thumb {
  border-radius: 10px;
  background: linear-gradient(180deg, #00c6fb, #005bea);
	opacity: 0.5;
}

/*Медиазапросы*/
@media screen and (max-width: 1200px) {
	/*для десктопов с шириной экрана до 1200 пикселей*/ 
	.site-header__wrapper {
		width: 100%;
	}
}
@media screen and (max-width: 768px) {
	/*для планшетов с шириной экрана от 768 пикселей*/
	.site-header__wrapper {
		background: crimson;
	}
	.logo {
		flex: 1;
		width: 100px;
		height: auto;
		margin-top: 15px;
		margin-left: 115px;
	}
	/*Разделы сайта*/
	nav ul {
		flex: 3;
		display: flex;
		list-style: none;
		margin-left: 20px;
		margin-right: 20px;
		padding: 0;
	}
	nav li {
		display: flex;
		align-items: center; 
		justify-content: center;
		margin-right: 20px;
		background: rgba(17, 115, 200, 1);
		border-radius: 3px;
		text-align: center;
		width: 200px;
		height: 50px;
	}
	nav a {
		color: rgba(255, 255, 255, 1);
		text-decoration: none;
		font-size: 20px;
		font-weight: 700;
	}
	.grid-container {
		display: grid;
		grid-template-columns: repeat(2, 2fr);
		grid-template-rows: repeat(3, auto);
		justify-content: center;
		gap: 1rem;
		margin-top: 40px;
	}
	/*Сайдбар*/
.left-sidebar {
  flex: 1;
	height: 90vh; /*Остальные элементы wrapper приняли номинально такую же высоту. Но я задал им свои параметры.*/
	border: 2px solid rgba(2, 169, 240, 1);
	/*border-width: thin;*/
	color: var(--font-color-sidebar);
	/*Добавить липкость*/
	/*position: -webkit-sticky;
	position: sticky;
	top: 0;*/
}
.background-left {
	display: flex;
	align-items: center;
	justify-content: center;
	width: 100%;
	height: 40px;
	background: var(--back-sidebar);
	color: var(--head-font-color-sidebar);
	font-size: 18px;
	font-weight: 700;
	text-align: center;
	padding: 15px 20px;
}
.themes {
	margin-top: 1em;
	margin-left: 2em;
	margin-bottom: 1em;
	text-align: left;
	line-height: 2em;
	color: var(--f-c-sidebar);
	font-size: 16px;
	font-weight: 500;
	height: 45vh;
	overflow: auto;
}
.fa-brands {
	font-size: 60px; /* изменение размера иконки */
	/*color:  /* изменение цвета иконки */
	margin: 30px 20px;
	/*margin-right: 30px; /* добавление отступа справа */
}

.social-media__ref {
	margin-top: 20px;
	text-align: center;
	/*line-height: 40px;*/
	font-size: 16px;
	font-weight: 700;
	line-height: 20px;
	text-align: center;
}
/*Порядок: непосещенная, посещенная, наведение, активная. Если изменить один селекторов для коррекции специфичности, это приведет к сбою и неожиданным результатам.*/
.themes>ul>li>a:link {
	color: var(--font-color-sidebar);
	/*text-decoration: none; — не пишем, так как это свойство прописано в дефолте*/
}
.themes>ul>li>a:visited {
	color: var(--font-color-sidebar);
}
.themes>ul>li>a:hover {
	color: var(--font-color-sidebar);
}
.themes>ul>li>a:active {
	color: var(--font-color-sidebar);
}
/*Порядок: непосещенная, посещенная, наведение, активная. Если изменить один селекторов для коррекции специфичности, это приведет к сбою и неожиданным результатам.*/
.social-media__ref>ul>li>a:link {
	color: var(--font-color-sidebar);
	/*text-decoration: none; — не пишем, так как это свойство прописано в дефолте*/
}
.social-media__ref>ul>li>a:visited {
	color: var(--font-color-sidebar);
}
.social-media__ref>ul>li>a:hover {
	color: var(--font-color-sidebar);
}
.social-media__ref>ul>li>a:active {
	color: var(--font-color-sidebar);
}
}
@media screen and (max-width: 480px) {
	/*для небольших ноутбуков и десктопов с шириной экрана от 992 до 1200 пикселей*/
	.site-header__wrapper {
		width: 100%;
	}
	.grid-container {
		display: grid;
		grid-template-columns: repeat(1, 2fr);
		grid-template-rows: repeat(3, auto);
		justify-content: center;
		gap: 1rem;
		margin-top: 40px;
	}
}

@media (min-width: 1200px) {
	/*для больших десктопов с шириной экрана более 1200 пикселей*/
}
@media (orientation: landscape) {
	/*для горизонтальной ориентации экрана, например, для планшетов и смартфонов, которые можно поворачивать*/
}